root {
    display:block;
}
.root {
    -fx-background-image: url("../images/CookBackground.jpg");
    -fx-background-size: cover;
}
#welcomeLabel{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #ff0000;
    -fx-effect: innershadow( three-pass-box , yellow , 6, 0.0 , 0 , 2 );

}

#orderDetails-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-effect: dropshadow( gaussian , rgba(100,100,255,0.5) , 0,0,0,1 );
}