root {
    display:block;
}
.root {
    -fx-background-image: url("../images/CustomerBackground.jpg");
    -fx-background-size: cover;
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#welcomeLabel {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #f0b11b;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#reserveBtn{
        -fx-padding: 8 15 15 15;
            -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
            -fx-background-radius: 8;
            -fx-background-color:
                linear-gradient(from 0% 93% to 0% 100%, #25371c 0%, #254016 100%),
                #41801d,
                #254016,
                radial-gradient(center 50% 50%, radius 100%, #3e7c1a, #51a321);
            -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
            -fx-font-weight: bold;
            -fx-text-fill: #ffffff;
            -fx-font-size: 1.1em;
}
#reserveBtn:hover{
        -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #25371c 0%, #254016 100%),
            #41801d,
            #254016,
            radial-gradient(center 50% 50%, radius 100%, #51a321, #3e7c1a);
}
#reserveBtn:pressed{
    -fx-padding: 10 15 13 15;
        -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#nonSmokingBtn, #smokingBtn{
    -fx-background-color: #494949,#494949, #ffffff;
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
    -fx-text-fill: #494949;
}
#nonSmokingBtn:hover,#smokingBtn:hover{
    -fx-text-fill: #ffffff;
    -fx-background-color: #f6b93b ,#f6b93b , #f6b93b;
}
#nonSmokingBtn:focused,#smokingBtn:focused{
    -fx-text-fill: #ffffff;
    -fx-background-color: #f6b93b ,#f6b93b , #f6b93b;
}

#logoutButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #25371c 0%, #254016 100%),
            #41801d,
            #254016,
            radial-gradient(center 50% 50%, radius 100%, #3e7c1a, #51a321);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.1em;
}

#logoutButton:hover{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #25371c 0%, #254016 100%),
            #41801d,
            #254016,
            radial-gradient(center 50% 50%, radius 100%, #51a321, #3e7c1a);
}

#logoutButton:pressed{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
