root {
    display:block;
}
.root {
    -fx-background-image: url("../images/OrderPageBackground.jpg");
    -fx-background-size: cover;
}
.table-view{
-fx-base: transparent;
   -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient( rgba(20,15,7,1) 0%, rgba(221,125,35,1) 70%, rgba(202,105,40,1) 89%, rgba(255,136,0,1) 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgba(249, 183, 63,0.5);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected .table-cell{
    -fx-background-color: #020a0c;
    -fx-text-fill: #dfe1de;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.label , #txt {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#taxesLabel, #priceWithoutTaxesLabel, #totalPriceLabel{
    -fx-font-size: 12px;
        -fx-font-weight: bold;
        -fx-text-fill: #ff0000;
        -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.text-field {
    -fx-background-color: white , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.text-field:focused {
    -fx-background-color: #000000 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
#menu {
    -fx-font-size: 32px;
       -fx-font-family: "Arial Black";
       -fx-fill: black;
}
#cart{
    -fx-font-size: 32px;
           -fx-font-family: "Arial Black";
           -fx-fill: #e54105;
}
#addToCartButton, #removeItemFromCart{
    -fx-background-color: #494949,#494949, #ffffff;
        -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
        -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
        -fx-text-fill: #494949;

}
#addToCartButton:hover, #removeItemFromCart:hover{
    -fx-text-fill: #ffffff;
        -fx-background-color: #f6b93b ,#f6b93b , #f6b93b;
}
#orderBtn{
        -fx-padding: 8 15 15 15;
            -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
            -fx-background-radius: 8;
            -fx-background-color:
                linear-gradient(from 0% 93% to 0% 100%, #25371c 0%, #254016 100%),
                #41801d,
                #254016,
                radial-gradient(center 50% 50%, radius 100%, #3e7c1a, #51a321);
            -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
            -fx-font-weight: bold;
            -fx-text-fill: #ffffff;
            -fx-font-size: 1.1em;
}
#orderBtn:hover{
        -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #25371c 0%, #254016 100%),
            #41801d,
            #254016,
            radial-gradient(center 50% 50%, radius 100%, #51a321, #3e7c1a);
}
#orderBtn:pressed{
    -fx-padding: 10 15 13 15;
        -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}