root {
    display:block;
}
.root {
    -fx-background-image: url("../images/WaiterBackground.jpg");
    -fx-background-size: cover;
}
#welcomeLabel{
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: rgba(249, 183, 63,1);
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#text1{
    -fx-font-size: 12px;
        -fx-font-weight: bold;
        -fx-text-fill: #333333;
        -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#logoutButton{
    -fx-padding: 8 15 15 15;
                -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
                -fx-background-radius: 8;
                -fx-background-color:
                    linear-gradient(from 0% 93% to 0% 100%, #000000 0%, #787878 100%),
                    #000000,
                    rgba(255,255,255,1),
                    #787878;
                -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
                -fx-font-weight: bold;
                -fx-text-fill: #ffffff;
                -fx-font-size: 1.1em;
}

#logoutButton:hover{
                -fx-background-color:
                linear-gradient(from 0% 93% to 0% 100%, #000000 0%, #787878 100%),
                #000000,
                rgba(255,255,255,1),
                radial-gradient(center 50% 50%, radius 100%, rgba(144,143,143,1), rgba(0,0,0,1));
}
#logoutButton:pressed{
    -fx-padding: 10 15 13 15;
            -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.table-view{
-fx-base: transparent;
   -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: black;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgba(249, 183, 63,0.5);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected .table-cell{
    -fx-background-color: #020a0c;
    -fx-text-fill: #dfe1de;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
